{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'timeisknowledge/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{% static 'timeisknowledge/script.js' %}"></script>
        <!-- <script src="science.js"></script>
        <script src="humanities.js"></script> -->

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Time is Knowledge</title>
    </head>

    <body>
        <div id="title">time is knowledge</div>
        <div id="clock-container">
            <div id="clock">
		        <button type="button" id="clock-button">00s 00ms</button>
            </div>
            <div id="fact-container">
                <div id="time-display"></div>
                <a id="fact" href="" target="_blank">Fact</a>
                <div id="button-container">
                    <button type="button" id="fact-button">Close</button>
                </div>
            </div>
	    </div>
    </body>
</html>
